#visual_editor {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    -webkit-transition: 200ms;
    transition: 200ms;
}

#visual_editor #config {
    width: 70%;
}

#raw_editor {
    position: absolute;
    -webkit-transition: 200ms;
    transition: 200ms;
}

#visual_editor h1 {
    position: relative;
    font-weight: normal;
    font-size: 16px;
}

#visual_editor input,
#visual_editor textarea {
    white-space: nowrap;
}

#visual_editor label,
#visual_editor input,
#visual_editor textarea,
#visual_editor select {
    -webkit-transition: border-color 200ms, color 300ms, background-color 300ms ease-in-out;
    transition: border-color 200ms, color 300ms, background-color 300ms ease-in-out;
}

#visual_editor input,
#visual_editor textarea,
#visual_editor select {
    color: #DCDDDE;
    background-color: #303339;
    border: 1px solid #222428;
    border-radius: 3px;
    outline: 0;
    resize: vertical;
}

#visual_editor select {
    background-color: #303339;
}

#visual_editor input:hover,
#visual_editor textarea:hover,
#visual_editor select:hover {
    border-color: #040405;
}

#visual_editor input:focus,
#visual_editor textarea:focus,
#visual_editor select:focus {
    border-color: #7289DA;
}

#visual_save,
#raw_save {
    position: fixed;
    cursor: pointer;
    color: white;
    background-color: #43b581;
    width: 60px;
    height: 32px;
    font-size: 14px;
    border-radius: 3px;
    bottom: 5px;
    right: 138px;
    z-index: 1;
    border: 1px solid #303339;
    border-radius: 3px;
}

#visual_save_and_reload,
#raw_save_and_reload {
    position: fixed;
    cursor: pointer;
    color: white;
    background-color: #43b581;
    width: 130px;
    height: 32px;
    font-size: 14px;
    border-radius: 3px;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    border: 1px solid #303339;
    border-radius: 3px;
}

#res {
    position: absolute;
    background-color: rgba(32, 34, 37, 0.9);
    text-align: center;
    white-space: nowrap;
    line-height: 40px;
    height: 40px;
    left: 50%;
    padding-left: 20px;
    padding-right: 20px;
    top: calc(var(--header-height) + 10px);
    z-index: 1; 
    -webkit-transform: translateX(-50%) translateY(-200px);
    transform: translateX(-50%) translateY(-200px);
    -webkit-transition: 500ms cubic-bezier(0.35, 1.15, 0.6, 1.4);
    transition: 500ms cubic-bezier(0.35, 1.15, 0.6, 1.4);
}

.openable {
    pointer-events: none;
}

.openable span,
.openable .content *,
.openable .add_button,
.openable .remove_button,
.openable .copy_button,
.openable .paste_button{
    pointer-events: all;
}

.openable,
.openable > span {
    display: inline-block;
    position: relative;
    color: #8E9297;
}

.openable > span {
    padding-left: 15px;
}

.openable::before {
    position: absolute;
    top: 5px;
    font-size: 10px;
    content: '>';
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

.openable > span:hover {
    color: #DCDDDE;
}

.open::before {
    transform: rotate(90deg);
}

.content {
    display: none;
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}

.open > .content {
    display: block;
    padding-left: 20px;
}

#visual_editor .key_value,
#visual_editor .editor_h {
    border-bottom: solid 1px #42454A;
}

/* PC */
@media print, screen and (min-width: 640px) {
    #visual_editor .list_list {
        display: inline-block;
        vertical-align: middle;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #visual_editor .key_value {
        position: relative;
        white-space: nowrap;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #visual_editor .key {
        display: inline-block;
        vertical-align: middle;
        width: 500px;
    }

    #visual_editor .value {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 500px;
    }
}

/* Phone */
@media screen and (max-width: 640px) {
    #visual_editor .list_list {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #visual_editor .key_value {
        position: relative;
        white-space: nowrap;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #visual_editor .key {
        display: block;
    }

    #visual_editor .value {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 80%;
    }
}

.ace_scrollbar {
    display: none;
}

#switch {
    position: fixed;
    top: 55px;
    right: 5px;
    z-index: 1;
}

#switch input {
    display: none;
}

#switch label{
	float: left;
    cursor: pointer;
    width: 100px;
    background: #2F3136;
    color: #B9BBBE;
    text-align: center;
    -webkit-transition: 200ms;
	transition: 200ms;
}
#switch label:first-of-type{
	border-radius: 2px 0 0 2px;
}
#switch label:last-of-type{
	border-radius: 0 2px 2px 0;
}
#switch #visual:checked + #switch-on {
    background-color: #A1B91D;
    color: white;
}
#switch #raw:checked + #switch-off {
    background-color: #A1B91D;
    color: white;
}

.ace_editor,
.ace_editor * {
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
}

@keyframes shake {
    from {
        transform: translateX(-4px) translateY(-4px);
    }

    10% {
        transform: translateX(4px) translateY(-4px);
    }

    15% {
        transform: translateX(-4px) translateY(4px);
    }

    20% {
        transform: translateX(4px) translateY(4px);
    }

    25% {
        transform: translateX(-4px) translateY(-4px);
    }

    30% {
        transform: translateX(-4px) translateY(4px);
    }

    35% {
        transform: translateX(4px) translateY(-4px);
    }

    40% {
        transform: translateX(-6px) translateY(-6px);
    }

    45% {
        transform: translateX(6px) translateY(6px);
    }

    50% {
        transform: translateX(6px) translateY(-6px);
    }

    55% {
        transform: translateX(-6px) translateY(6px);
    }

    60% {
        transform: translateX(6px) translateY(6px);
    }

    65% {
        transform: translateX(-6px) translateY(-6px);
    }

    70% {
        transform: translateX(-6px) translateY(6px);
    }

    75% {
        transform: translateX(6px) translateY(-6px);
    }

    80% {
        transform: translateX(-6px) translateY(-6px);
    }

    80% {
        transform: translateX(6px) translateY(6px);
    }

    90% {
        transform: translateX(6px) translateY(-6px);
    }

    90% {
        transform: translateX(-6px) translateY(6px);
    }

    100% {
        transform: translateX(6px) translateY(6px);
    }

    to {
        transform: translateX(0) translateY(0);
    }
}